<div class="create-ad-container">
  <div class="create-ad-box">
    <img src="assets/images/logoApp.png" alt="GoAway Logo" class="logo" />
    <h2>Crear Nueva Transacción</h2>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="startDate">Fecha de inicio</label>
        <input id="startDate" type="date" formControlName="startDate" />
        <p *ngIf="transactionForm.get('startDate')?.errors?.['required'] && transactionForm.get('startDate')?.touched" class="error-message">
          La fecha de inicio es obligatoria.
        </p>
      </div>

      <div class="input-group">
        <label for="endDate">Fecha de fin</label>
        <input id="endDate" type="date" formControlName="endDate" />
        <p *ngIf="transactionForm.get('endDate')?.errors?.['required'] && transactionForm.get('endDate')?.touched" class="error-message">
          La fecha de fin es obligatoria.
        </p>
        <p *ngIf="dateError" class="error-message">
          La fecha de fin no puede ser anterior a la fecha de inicio.
        </p>
      </div>

      <div class="input-group">
        <label for="paymentMethod">Método de pago</label>
        <select id="paymentMethod" formControlName="paymentMethod">
          <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
        </select>
        <p *ngIf="transactionForm.get('paymentMethod')?.errors?.['required'] && transactionForm.get('paymentMethod')?.touched" class="error-message">
          El método de pago es obligatorio.
        </p>
      </div>

      <div class="input-group">
        <label for="totalPrice">Precio Total (Recomendado)(€)</label>
        <input id="totalPrice" type="number" formControlName="totalPrice"/>
      </div>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

      <div class="button-group">
        <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="accept" [disabled]="transactionForm.invalid || dateError">Crear Transacción</button>
      </div>
    </form>
  </div>
</div>