.create-ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.create-ad-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #555;
  }

  input, textarea, select {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
  }

  textarea {
    resize: none; 
    height: 120px; 
  }

  .character-count {
    font-size: 0.8rem;
    color: #666;
    text-align: right;
    margin-top: 0.3rem;

    &.limit-reached {
      color: #e74c3c; 
    }
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  flex: 1;
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.cancel {
  background-color: #d9534f;
  color: white;
  margin-right: 0.5rem;

  &:hover {
      background-color: #c9302c;
  }
}

.accept {
  background-color: #5cb85c;
  color: white;
  margin-left: 0.5rem;

  &:hover {
      background-color: #449d44;
  }
}

// Mensaje de error
.error {
  color: #d9534f;
  font-weight: bold;
  margin-top: 1rem;
}


/* Estilos para el toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-label:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-input:checked + .toggle-label {
  background-color: #5cb85c; /* Color cuando está activo */
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px); /* Mueve el círculo a la derecha */
}